* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Gothic&display=swap");
@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

.box {
  animation: drop-in 1000ms;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0.25;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.box {
  animation: slide-in 1000ms;
  animation-iteration-count: 3;
}
body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 17px;
  color: #fff;
  line-height: 1.6;
}

#showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  animation: slide-in 3s;
  font-size: 70px;
  line-height: 1.2;
  font-family: "Nanum Gothic", sans-serif;
}

#showcase p {
  font-size: 30px;
  font-family: "Nanum Gothic", sans-serif;
  animation: slide-in 3s;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  border: #fdfdfd 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  animation: drop-in 3s;
}

#showcase .button:hover {
  background: #548ad1;
  color: rgb(255, 255, 255);
}

#section-a {
  padding: 20px;
  background: #397d92;
  color: #fff;
  text-align: center;
}

/* #section-b {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}

#section-c {
  display: flex;
}

#section-c div {
  padding: 20px;
}

#section-c .box-1,
#section-c .box-3 {
  background: #397d92;
  color: #fff;
}

#section-c .box-2 {
  background: #fff;
} */

#imagen {
  /* background-size: cover;
  background-position: center; */
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
